canvas {
    background: #c5c5c5;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: -200px;
}

#info{
    display: inline-flex;
}

#buttons .hover-btns {
    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    margin: 5px 10px;
    text-decoration: none;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 20px;
    color: rgba(0, 10, 10, 0.8);
    box-shadow: rgba(255, 255, 255, 0.4) 0 0px 0px 2px inset;
}

#buttons .hover-btns:focus {
    outline: 0;
}

#buttons .hover-btns:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.85);
    box-shadow: rgba(25, 50, 112, 1) 0 0px 0px 40px inset;
}

#buttons .hover-btns:active {
    transform: scale(0.95);

}

body {
    font-family: Helvetica, sans-serif;
}

h3 {
    font-weight: 100;
}

/*Inputs*/
input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.number-input {
    border: 2px solid #ddd;
    display: inline-flex;
    height: 30px;
    margin-top: 0px;
}

.number-input button {
    outline: none;
    -webkit-appearance: none;
    border: none;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: relative;
}

.number-input button:before,
.number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 1rem;
    height: 2px;
    background-color: #212121;
    transform: translate(-50%, -50%);
}

.number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
}

.size {
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
}

.size-wrapper p {
    padding: 0;
    margin: 0;
    padding: 5px 15px;
    font-size: 20px;
    text-align: center;
    color: rgba(0, 10, 10, 0.8);
}

.size-wrapper{
    display: inline-flex;
    flex-direction: row;
}

@media screen and (max-width: 650px) {
    canvas{
        margin-top: 0;
    }
}


